* {
    box-sizing: border-box;
}

:root {
    --primary-color: #7264d6;
    --secondary-color: #212832;
    --third-color: #696d76;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.section__heading {
    color: var(--secondary-color);
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}

.section__desc {
    margin-top: 20px;
    color: var(--third-color);
    font-size: 1.8rem;
    line-height: 1.67;
}

.section__desc-small {
    margin-top: 18px;
    color: var(--third-color);
    font-size: 1.6rem;
    line-height: 1.75;
}

.section__label {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    color: #696d77;
    font-size: 1.6rem;
    line-height: 1.75;
}

.section__label::before {
    display: inline-block;
    content: "";
    width: 18px;
    height: 2px;
    margin-right: 12px;
    background: #696d77;
}

.btn {
    --height: 58px;

    display: inline-block;
    min-width: 149px;
    height: var(--height);
    border-radius: 8px;
    background: var(--secondary-color);
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: var(--height);
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* Header */
.header {
    padding: 42px 0 8px;
}

.header.header--fixed {
    position: sticky;
    z-index: 99;
    top: -34px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    --webkit-backdrop-filter: blur(10px);
}

.header__inner {
    display: flex;
    align-items: center;
}

.navbar {
    margin-left: 46px;
}

.nav__list {
    display: flex;
}

.nav__link {
    display: inline-block;
    padding: 6px 24px;
    color: var(--third-color);
    font-size: 1.6rem;
    line-height: 1.75;
}

.nav__link::before {
    display: block;
    height: 0;
    content: attr(title);
    font-weight: 600;
    overflow: hidden;
    visibility: hidden;
}

.nav__link--active::after {
    display: block;
    content: "";
    height: 1px;
    border-radius: 0.5px;
    background: var(--primary-color);
}

.nav__link--active,
.header__action-link,
.nav__link:hover {
    color: var(--secondary-color);
    font-weight: 600;
}

.header__actions {
    margin-left: auto;
}

.header__action-cta {
    --height: 52px;

    min-width: 113px;
    border-radius: 6px;
    margin-left: 28px;
}

/* Hero */
.hero {
    margin-top: 68px;
}

.hero__inner {
    display: flex;
    align-items: center;
    column-gap: 60px;
}

.hero__content {
    width: 540px;
}

.hero__heading {
    color: var(--secondary-color);
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.17;
}

.hero__heading--strong {
    color: var(--primary-color);
}

.subscribe__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 74px;
    border-radius: 8px;
    margin-top: 40px;
    background: #fff;
    box-shadow: 0 16px 42px 0 rgba(0, 0, 0, 0.07);
}

.hero__form-input {
    width: 100%;
    height: 100%;
    padding: 0 23px;
    border: none;
    outline: none;
    border-radius: inherit;
}

.hero__form-input::placeholder {
    color: var(--third-color);
    font-size: 1.6rem;
    line-height: 1.75;
}

.hero__btn {
    border: none;
    outline: none;
    margin-right: 8px;
    background: var(--primary-color);
}

.hero__note {
    margin-top: 20px;
    color: var(--third-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
}

.hero__media {
    flex: 1;
    position: relative;
    height: 562px;
}

.hero-card__deposit {
    position: absolute;
    z-index: 1;
    top: 113px;
    left: 0;
    display: flex;
    align-items: center;
    column-gap: 8px;
    width: 174px;
    padding: 14px 10px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);
}

.hero-card__deposit-img {
    width: 18px;
    height: 18px;
}

.hero-card__deposit-info {
    display: flex;
    column-gap: 19px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-card__deposit-title {
    color: #31456a;
    font-weight: 600;
}

.hero-card__deposit-value {
    color: #4ab5e3;
}

.hero__img {
    position: absolute;
    top: 0;
    left: 100px;
    max-width: 100%;
    max-height: 100%;
}

.hero-card__interest {
    position: absolute;
    top: 127px;
    right: 0;
    width: 130px;
    height: 130px;
    padding: 30px;
    border-radius: 50%;
    background: #da6464;
    text-align: center;
}

.hero-card__interest-value {
    color: #fff;
    font-size: 4.4rem;
    font-weight: 600;
    line-height: normal;
}

.hero-card__interest-title {
    display: block;
    margin-top: -11px;
    color: #fff;
    font-size: 1.6rem;
    line-height: normal;
}

.hero-card__secured {
    position: absolute;
    right: 100px;
    bottom: 61px;
    display: flex;
    align-items: center;
    column-gap: 11px;
    width: 124px;
    height: 68px;
    padding: 20px 14px;
    border-radius: 10px;
    background: #439f90;
}

.hero-card__secured-info {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.hero-card__secured-title {
    color: #fff;
    font-size: 0.8rem;
    line-height: 1;
}

.hero-card__secured-value {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

/* Work */
.work {
    padding: 80px 0;
    margin-top: 80px;
}

.work__inner {
    display: flex;
    align-items: center;
    column-gap: 130px;
}

.work__media {
    position: relative;
    display: flex;
}

.work__img-wrap {
    position: relative;
    width: 470px;
}

.work__img-wrap::after {
    position: absolute;
    left: 0;
    bottom: -5px;
    display: block;
    content: url(../img/work-media-bg.svg);
    width: 100%;
    height: 550px;
}

.work__img {
    position: relative;
    z-index: 1;
    display: block;
    max-width: 100%;
    height: 619px;
    margin: 0 auto;
}

.work__icon-wrap,
.work__icon,
.work-card__img-wrap,
.work-card__img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.work__icon-wrap {
    position: absolute;
    top: 76px;
    right: 62px;
    z-index: 1;
    width: 64px;
    height: 64px;
    border-radius: 8px;
    background: #7264d6;
}

.work__icon {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: #f8fbfe;
}

.work-card {
    position: relative;
    z-index: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 226px;
    height: 70px;
    padding: 15px;
    border-radius: 8px;
    margin: 0 0 68px -126px;
    background: #fffdfa;
    box-shadow: 0 14px 34px 0 rgba(0, 0, 0, 0.07);
}

.work-card__img-wrap {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background: #4ab5e3;
}

.work-card__img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
}

.work-card__info {
    font-family: Inter, sans-serif;
    line-height: normal;
}

.work-card__title {
    color: var(--secondary-color);
    font-size: 1.4rem;
    font-weight: 600;
}

.work-card__desc {
    display: block;
    margin-top: 5px;
    color: var(--third-color);
    font-size: 1.2rem;
}

.work__list {
    margin-top: 70px;
}

.work-item + .work-item {
    margin-top: 30px;
}

.work-item__heading {
    color: var(--secondary-color);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45;
}

.work-item__desc {
    margin-top: 16px;
    color: var(--third-color);
    font-size: 1.6rem;
    line-height: 1.75;
}
