* {
    box-sizing: border-box;
}

:root {
    --primary-color: #7264d6;
    --secondary-color: #212832;
    --third-color: #696d76;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.section__heading {
    color: var(--secondary-color);
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}

.section__desc {
    margin-top: 20px;
    color: var(--third-color);
    font-size: 1.8rem;
    line-height: 1.67;
}

.section__desc-small {
    margin-top: 18px;
    color: var(--third-color);
    font-size: 1.6rem;
    line-height: 1.75;
}

.section__label {
    display: flex;
    align-items: center;
    color: #696d77;
    font-size: 1.6rem;
    line-height: 1.75;
}

.section__label::before {
    display: inline-block;
    content: "";
    width: 18px;
    height: 2px;
    margin-right: 12px;
    background: #696d77;
}

.btn {
    --height: 58px;

    display: inline-block;
    min-width: 149px;
    height: var(--height);
    border-radius: 8px;
    background: var(--secondary-color);
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: var(--height);
}

.btn:hover {
    opacity: 0.9;
}

/* Header */
.header {
    padding: 42px 0 8px;
}

.header.header--fixed {
    position: sticky;
    top: -34px;
    /* background: rgba(248, 248, 248, 0.8);
    backdrop-filter: blur(10px);
    --webkit-backdrop-filter: blur(10px); */
}

.header__inner {
    display: flex;
    align-items: center;
}

.navbar {
    margin-left: 46px;
}

.nav__list {
    display: flex;
}

.nav__link {
    display: inline-block;
    padding: 6px 24px;
    color: var(--third-color);
    font-size: 1.6rem;
    line-height: 1.75;
}

.nav__link::before {
    display: block;
    height: 0;
    content: attr(title);
    font-weight: 600;
    overflow: hidden;
    visibility: hidden;
}

.nav__link--active::after {
    display: block;
    content: "";
    height: 1px;
    border-radius: 0.5px;
    background: var(--primary-color);
}

.nav__link--active,
.header__action-link,
.nav__link:hover {
    color: var(--secondary-color);
    font-weight: 600;
}

.header__actions {
    margin-left: auto;
}

.header__action-cta {
    --height: 52px;

    min-width: 113px;
    border-radius: 6px;
    margin-left: 28px;
}
