* {
    box-sizing: border-box;
}

:root {
    --primary-color: #7264d6;
    --secondary-color: #212832;
    --third-color: #696d76;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.section__heading {
    color: var(--secondary-color);
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}

.section__desc {
    margin-top: 20px;
    color: var(--third-color);
    font-size: 1.8rem;
    line-height: 1.67;
}

.section__desc-small {
    margin-top: 18px;
    color: var(--third-color);
    font-size: 1.6rem;
    line-height: 1.75;
}

.section__label {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    color: #696d77;
    font-size: 1.6rem;
    line-height: 1.75;
}

.section__label::before {
    display: inline-block;
    content: "";
    width: 18px;
    height: 2px;
    margin-right: 12px;
    background: #696d77;
}

.btn {
    --height: 58px;

    display: inline-block;
    min-width: 149px;
    height: var(--height);
    border-radius: 8px;
    background: var(--secondary-color);
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: var(--height);
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* Header */
.header {
    padding: 42px 0 8px;
}

.header.header--fixed {
    position: sticky;
    z-index: 99;
    top: -34px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    --webkit-backdrop-filter: blur(10px);
}

.header__inner {
    display: flex;
    align-items: center;
}

.navbar {
    margin-left: 46px;
}

.nav__list {
    display: flex;
}

.nav__link {
    display: inline-block;
    padding: 6px 24px;
    color: var(--third-color);
    font-size: 1.6rem;
    line-height: 1.75;
}

.nav__link::before {
    display: block;
    height: 0;
    content: attr(title);
    font-weight: 600;
    overflow: hidden;
    visibility: hidden;
}

.nav__link--active::after {
    display: block;
    content: "";
    height: 1px;
    border-radius: 0.5px;
    background: var(--primary-color);
}

.nav__link--active,
.header__action-link,
.nav__link:hover {
    color: var(--secondary-color);
    font-weight: 600;
}

.header__actions {
    margin-left: auto;
}

.header__action-cta {
    --height: 52px;

    min-width: 113px;
    border-radius: 6px;
    margin-left: 28px;
}

/* Hero */
.hero {
    margin-top: 68px;
}

.hero__inner {
    display: flex;
    align-items: center;
    column-gap: 60px;
}

.hero__content {
    width: 540px;
}

.hero__heading {
    color: var(--secondary-color);
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.17;
}

.hero__heading--strong {
    color: var(--primary-color);
}

.subscribe__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 74px;
    border-radius: 8px;
    margin-top: 40px;
    background: #fff;
    box-shadow: 0 16px 42px 0 rgba(0, 0, 0, 0.07);
}

.hero__form-input {
    width: 100%;
    height: 100%;
    padding: 0 23px;
    border: none;
    outline: none;
    border-radius: inherit;
}

.hero__form-input::placeholder {
    color: var(--third-color);
    font-size: 1.6rem;
    line-height: 1.75;
}

.hero__btn {
    border: none;
    outline: none;
    margin-right: 8px;
    background: var(--primary-color);
}

.hero__note {
    margin-top: 20px;
    color: var(--third-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
}

.hero__media {
    flex: 1;
    position: relative;
    height: 562px;
}

.hero-card__deposit {
    position: absolute;
    z-index: 1;
    top: 113px;
    left: 0;
    display: flex;
    align-items: center;
    column-gap: 8px;
    width: 174px;
    padding: 14px 10px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.07);
}

.hero-card__deposit-img {
    width: 18px;
    height: 18px;
}

.hero-card__deposit-info {
    display: flex;
    column-gap: 19px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-card__deposit-title {
    color: #31456a;
    font-weight: 600;
}

.hero-card__deposit-value {
    color: #4ab5e3;
}

.hero__img {
    position: absolute;
    top: 0;
    left: 100px;
    max-width: 100%;
    max-height: 100%;
}

.hero-card__interest {
    position: absolute;
    top: 127px;
    right: 0;
    width: 130px;
    height: 130px;
    padding: 30px;
    border-radius: 50%;
    background: #da6464;
    text-align: center;
}

.hero-card__interest-value {
    color: #fff;
    font-size: 4.4rem;
    font-weight: 600;
    line-height: normal;
}

.hero-card__interest-title {
    display: block;
    margin-top: -11px;
    color: #fff;
    font-size: 1.6rem;
    line-height: normal;
}

.hero-card__secured {
    position: absolute;
    right: 100px;
    bottom: 61px;
    display: flex;
    align-items: center;
    column-gap: 11px;
    width: 124px;
    height: 68px;
    padding: 20px 14px;
    border-radius: 10px;
    background: #439f90;
}

.hero-card__secured-info {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.hero-card__secured-title {
    color: #fff;
    font-size: 0.8rem;
    line-height: 1;
}

.hero-card__secured-value {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

/* Work */
.work {
    padding: 80px 0;
    margin-top: 80px;
}

.work__inner {
    display: flex;
    align-items: center;
    column-gap: 130px;
}

.work__media {
    position: relative;
    display: flex;
}

.work__img-wrap {
    position: relative;
    width: 470px;
}

.work__img-wrap::after {
    position: absolute;
    left: 0;
    bottom: -5px;
    display: block;
    content: url(../img/work-media-bg.svg);
    width: 100%;
    height: 550px;
}

.work__img {
    position: relative;
    z-index: 1;
    display: block;
    max-width: 100%;
    height: 619px;
    margin: 0 auto;
}

.work__icon-wrap,
.work__icon,
.work-card__img-wrap,
.work-card__img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.work__icon-wrap {
    position: absolute;
    top: 76px;
    right: 62px;
    z-index: 1;
    width: 64px;
    height: 64px;
    border-radius: 8px;
    background: #7264d6;
}

.work__icon {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: #f8fbfe;
}

.work-card {
    position: relative;
    z-index: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 226px;
    height: 70px;
    padding: 15px;
    border-radius: 8px;
    margin: 0 0 68px -126px;
    background: #fffdfa;
    box-shadow: 0 14px 34px 0 rgba(0, 0, 0, 0.07);
}

.work-card__img-wrap {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background: #4ab5e3;
}

.work-card__img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
}

.work-card__info {
    font-family: Inter, sans-serif;
    line-height: normal;
}

.work-card__title {
    color: var(--secondary-color);
    font-size: 1.4rem;
    font-weight: 600;
}

.work-card__desc {
    display: block;
    margin-top: 5px;
    color: var(--third-color);
    font-size: 1.2rem;
}

.work__list {
    margin-top: 70px;
}

.work-item + .work-item {
    margin-top: 30px;
}

.work-item__heading {
    color: var(--secondary-color);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45;
}

.work-item__desc {
    margin-top: 16px;
    color: var(--third-color);
    font-size: 1.6rem;
    line-height: 1.75;
}

/* Features */
.features {
    padding: 80px 0;
    scroll-margin-top: 60px;
}

.feature__inner {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 160px 30px;
}

.feature__content {
    width: 470px;
}

.feature__media {
    position: relative;
}

.feature__img {
    display: block;
    width: 482px;
    height: 322px;
    object-fit: cover;
}

.feature-card__long {
    position: absolute;
    top: -48px;
    right: 0;

    display: flex;
    align-items: center;
    column-gap: 14px;
    width: 276px;
    height: 86px;
    padding: 23px 13px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 14px 38px 0 rgba(0, 0, 0, 0.07);
}

.feature-card__long-img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    box-shadow: -4px -2px 16px 0 #fff, 4px 2px 16px 0 rgba(136, 165, 191, 0.48);
}

.feature-card__long-img-wrap::after {
    position: absolute;
    inset: 0 0 0 0;
    content: "";
    border-radius: inherit;
    background: rgba(218, 100, 100, 0.1);
}

.feature-card__long-info {
    flex: 1;
}

.feature-card__long-row {
    display: flex;
    justify-content: space-between;
    font-family: Inter, sans-serif;
}

.feature-card__long-type {
    color: var(--secondary-color);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: normal;
}

.feature-card__long-value {
    color: var(--secondary-color);
    font-size: 1.6rem;
    line-height: normal;
}

.feature-card__long-method {
    color: var(--third-color);
    font-size: 1rem;
    line-height: normal;
}

.feature-card__long-time {
    color: var(--third-color);
    font-size: 1rem;
    line-height: normal;
}

.feature-card__square {
    position: absolute;
    right: 0;
    bottom: -55px;
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 120px;
    padding: 14px 0 15px 15px;
    border-radius: 16px;
    background: #439f90;
}

.feature-card__square-img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    margin-bottom: 14px;
    background: #fff;
}

.feature-card__square-type {
    color: #fff;
    font-size: 1.2rem;
    line-height: normal;
}

.feature-card__square-value {
    margin-top: 6px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}

.feature__list {
    margin-top: 28px;
}

.feature__item {
    display: flex;
    align-items: center;
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.feature__item::before {
    display: inline-block;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 12px;
    background: var(--primary-color);
}

.feature__item + .feature__item {
    margin-top: 18px;
}

.feature__cta {
    border: none;
    outline: none;
    margin-top: 38px;
}

.feature__media-bottom {
    display: flex;
}

.feature__img-wrap-bottom {
    position: relative;
    width: 470px;
    border-radius: 8px;
}

.feature__img-wrap-bottom::before {
    position: absolute;
    left: 0;
    top: 214px;
    display: block;
    content: "";
    width: 100%;
    height: 200px;
    border-radius: inherit;
    background: #92c2c2;
    transform: skewY(-11deg);
}

.feature__img-wrap-bottom::after {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    content: "";
    width: 100%;
    height: 300px;
    border-radius: inherit;
    background: #92c2c2;
}

.feature__img-bottom {
    position: relative;
    z-index: 1;
    display: block;
    max-width: 431px;
    max-height: 600px;
    object-fit: cover;
    margin: 0 auto;
}

.feature-card__large {
    position: relative;
    z-index: 2;
    align-self: flex-end;
    width: 281px;
    height: 220px;
    padding: 28px;
    border-radius: 10px;
    margin: 0 0 57px -207px;
    background: #fff;
    filter: drop-shadow(0 44px 48px rgba(0, 0, 0, 0.1));
}

.feature-card__large-title {
    color: var(--secondary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.feature-card__large-list {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

.feature-card__large-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63px;
    height: 48px;
    border-radius: 4px;
    background: #f2f2fa;
}

.feature-card__large-item:last-child {
    background: #f9ea63;
}

.feature-card__circle {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 273px 0 0 -64px;
    background: var(--primary-color);
    box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.1);
}

.feature__content-bottom {
    margin-left: 100px;
}

/* Clients */
.clients {
    padding: 80px 0;
}

.client__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.client__desc {
    width: 435px;
    font-size: 1.6rem;
    line-height: 1.75;
}

.client__content {
    margin-top: 70px;
}

.client__list {
    display: flex;
    column-gap: 30px;
    padding: 20px;
    margin: 0 -20px;
    overflow: hidden;
}

.client-item {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(50% - 15px);
}

.client-item:hover .client-item__quote {
    filter: drop-shadow(0 22px 54px rgba(0, 0, 0, 0.07));
    cursor: pointer;
}

.client-item__content {
    padding-bottom: 60px;
}

.client-item__quote {
    position: relative;
    padding: 42px 28px;
    color: var(--third-color);
    text-align: center;
    font-size: 2.2rem;
    font-style: italic;
    line-height: 1.55;
    border-radius: 10px;
    background: #fff;
    filter: drop-shadow(0 0 1px #dfe2e8);
}

.client-item__quote::after {
    position: absolute;
    bottom: -120px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    content: "";
    border: 60px solid;
    border-color: #fff transparent transparent;
}

.client-item__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 36px;
}

.client-item__img-wrap {
    width: 104px;
    height: 104px;
    border-radius: 50%;
    background: #4ab5e3;
    overflow: hidden;
}

.client-item:nth-child(2) .client-item__img-wrap {
    background: #439f90;
}

.client-item__img {
    display: block;
    margin-top: 10px;
    width: 100%;
    object-fit: cover;
}

.client-item__name {
    margin-top: 20px;
    color: #070052;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.client-item__title {
    margin-top: 2px;
    color: var(--third-color);
    font-size: 1.8rem;
    line-height: 1.67;
}

.client__rectangles {
    display: flex;
    justify-content: center;
    column-gap: 12px;
    margin-top: 38px;
}

.client__rectangle {
    width: 22px;
    height: 6px;
    border-radius: 1px;
    border: 1px solid #9b9fab;
    cursor: pointer;
}

.client__rectangle--active {
    background: var(--primary-color);
    border: transparent;
}
